p {
  font-family: Arial;
}

body {
  margin: 0;
  padding-top: 50px;
}

.heading {
  background-color: black;
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 60px;
}

.side-bar{
  border: solid;
  border-radius: 0.5px;
  border-color: black;
  position: fixed;
  top: 58px;
  bottom: 0px;
  right: 0px;
  width: 300px;
}

.heading-text{
  color: rgb(255,164,128);
  font-size: 18px;
}

.repair-text {
  transition: opacity 0.1s;
  margin-right: 25px;
  margin-left: 100px;
}

.repair-text:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.clean-text {
  transition: opacity 0.1s;
  margin-left: 25px;
  margin-right: 25px;
}

.clean-text:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.contact-text {
  transition: opacity 0.1s;
  margin-left: 25px;
}

.contact-text:hover {
  text-decoration: underline;
  opacity: 0.7
}

.slide-text { 
  margin-left: 130px;     
  transition: color 0.15s, 
  text-decoration 0.15s,
  opacity 0.15s;
}

.slide-text:hover {
  color: rgb(255,164,128);
  text-decoration: underline;
}

.slide-text:active { 
  color: rgb(120, 53, 27);
  text-decoration: underline;
  opacity: 0.5;
}

.user-info {
  background-color: black;
  color: rgb(255,164,128);
}

.website-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 50px;
}

.website-subtitle {
  font-size: 24px;
  margin-top: 5px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.wood-div{
  display: inline-block;
  border: none;
}

.wood-pic{
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.desc-div{
  display: inline-block;
  vertical-align: top;
  height: 300px;
  margin-top: -500px;
  margin-left: 60px;
}

.website-paragraph {
  display: inline-block;
  background-color: white;
  color: black;
  width: 180px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border: solid;
  border-color: white;
}

.image-box {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}

.phone-image{
  width: 100%;
  object-fit: contain;
}

.phones-grid{
  display: grid;
  margin-left: 50px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  column-gap: 20px;
}

.name-bar,
.phone-bar,
.email-bar{
  font-size: 17px;
  width: 300px;
  border-radius: 10px;
  display: block;
}

.name-bar{
  margin-top: 24px;
}

.phone-bar,
.email-bar{
  margin-top: 5px;
}

.name-text,
.phone-text,
.email-text{
  color: rgb(255,164,128);
  font-size: 22px;
}

.name-text{
  margin-top: 20px;
  margin-bottom: 0px;
}

.phone-text{
  margin-top: 5px;
  margin-bottom: 0px;
}

.email-text{
  margin-top: 5px;
  margin-bottom: 0px;
}

.footer{
  background-color: black;
  display: flex;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.footer-enter-text{
  text-align: center;
  margin-right: 10px;
}


.footer-sign{
  color: rgb(255,164,128);
  font-size: 24px;
  width: 170px;
  margin-left: 150px;
  text-align: center;
}

.footer-text{
  vertical-align: top;
}

.left-section{
  display: flex;
  width: 400px;
  margin-right: 50px;
}

.middle-section{
  display: flex;
  flex: 1;
  flex-direction: row;
}
