.slider{
  position: relative;
  width: 200px;
  margin-left: 115px;
  overflow: hidden;
  border: solid;
}

.slider img{
  width: 200px;
  display: none;
}

img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider button{
  position: absolute;
  transform: translate(-50%);
  bottom: 1px;
  font-size: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor:pointer;
}

.prev{
  left: 15px;
}

.next{
  right: -15px;
}

@keyframes fade {
  from{opacity: 0.5;}
  to{opacity: 1;}
}
